@import url(./font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --fm-1: "Roboto";
    --fm-2: "Raleway";
    --avs__backround: #0C0C0C;
    --nav__backround: #060606;
    --nav__button: #0A7114;
    --text__color: #478A11;
}

.header {
    width: 100%;
    background: var(--avs__backround);
    margin: 0 auto;
}

.header__avs {
    width: 100%;
    height: 60px;
    background: var(--avs__backround);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    column-gap: 683px;
}

.avs__icons {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.icon_p {
    font-family: var(--fm-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.icon_menyu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.menyu {
    color: white;
    font-family: var(--fm-1);
    font-size: 16px;
    font-weight: 400;

}

.header__nav {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--nav__backround);
    border: 1px solid #2F2D2D;
    column-gap: 420px;
}

.nav__button {
    font-family: var(--fm-1);
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    padding: 10px 18px 9px 18px;
    background: var(--nav__button);
    border-radius: 4px;
    border: 4px solid #06600F;
    color: #fff;
}

.nav__menyu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fm-2);
    font-weight: 400;

}

.nav_menyu {
    color: #fff;
    padding: 22px 14px;
    transition: .5s;
    font-size: 18px;
}

.nav_menyu:hover {
    background: #69CF17BF;
}

.header__wrapper {
    width: 100%;
    height: 700px;
    background: url(../img/food-burger-wallpaper-preview\ 1.png) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.wrapper__content {
    max-width: 1125px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.wrrapper__h1 {
    color: #69CF17;
    font-size: 72px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.wrapper__p1 {
    color: #69CF17;
    font-size: 36px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.wrapper__p2 {
    max-width: 1125px;
    width: 100%;
    height: 72px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.wrapper__box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 590px;
}

.box__price {
    background: rgba(105, 207, 23, 0.50);
    backdrop-filter: blur(9px);
    color: #FFF;
    text-align: right;
    font-size: 50px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    padding: 33px 76px;
}

.box__button {
    border-radius: 6px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    color: #FFF;
    text-align: right;
    font-size: 18px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 70px;
    border: 0;
}

main {
    margin: 0 auto;
    background: var(--avs__backround);
    padding-top: 50px;
}

.section_1 {
    width: 100%;
    height: 1171px;
    background: #393636;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__cards {
    max-width: 1570px;
    width: 100%;
    display: grid;
    grid-area: card;
    padding-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:

        "card card card card"
        "card card card card"
    ;
    gap: 30px
}

.card {
    max-width: 370px;
    width: 100%;
    height: 524px;
    background: #0B0B0B;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 15px;
}

.card1__image {
    width: 338.73px;
    height: 325px;
    transition: .5s;
    background: url(../img/unnamed\ 1.png) no-repeat center center / cover;
}

.card1__image:hover {
    width: 338.73px;
    height: 325px;
    background: url(../img/Screenshot\ 2023-07-06\ 142946.png) no-repeat center center / cover;
}

.card__title {
    color: #FFF;
    font-family: "Raleway";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
}

.card__text {
    width: 338.73px;
    height: 124px;
    color: #FFF;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.section2__title {
    color: #69CF17;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    padding: 20px 0;
}

.footer {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
}

.footer__content {
    width: 100%;
    height: 268px;
    background: #060606;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 81px;
    padding-bottom: 51px;
    background: linear-gradient(180deg, #000000 0%, #376810 100%);
}

.footer__card {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 725px;
}

.footer__number {
    color: #FFF;
    text-align: right;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.footer__link {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__info {
    width: 100%;
    height: 57px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #1A3406;
    display: flex;
    align-items: center;
    justify-content: center;
}